:root {
    --color-iris: #4D5AE5;
    --color-ocean: #404BBF;
    --color-white: #FFFFFF;
    --color-navy-blue: #2E2F42;
    --color-green: #2E2F42;
        --color-slate: #434455;
        --color-light-slate: #8E8F99;
        --color-cornflower: #E7E9FC;
        --color-cloud: #F4F4FD;
    --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
        --color-grey: rgba(46, 47, 66, 0.7);
        --color-dairy: #FCFCFC;
        --main-color: #E5E5E5;
}

body {
    font-family: "Roboto", "sans-serif";
    color: var(--color-navy-blue);
        background-color: var(--main-color);
    }
    
    .header {
        background-color: var(--color-cornflower);
    }
    
    .title {
        font-family: "Raleway";
        font-size: 18px;
        font-weight: 800;
        line-height: 1.16;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 3%;
    }
    
    .title-prefix {
        color: var(--color-iris);
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.link {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2%;
}

.header-link:hover,
.header-link:focus {
    color: var(--color-ocean);
}

.address-link {
    color: var(--color-slate);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 2%;
}

.hero {
    background-color: var(--color-navy-blue);
}

.hero-title {
    color: var(--color-white);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 2%;
}

.hero-button {
    font-family: inherit;
    font-size: 16;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 4%;
    color: var(--color-white);
    background-color: var(--color-iris);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-ocean);

}

.hidden {
    display: none;
}

.section {
    background-color: var(--color-cloud);
}

.section-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 2%;
}


.paragraph {
    font-size: 16;
    font-weight: 400;
        line-height: 1.5;
        letter-spacing: 2%;
    }
    
    .footer {
        background-color: var(--color-navy-blue);
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    .footer-text {
        color: var(--color-cloud)
    }
    
    .button-filter {
        font-family: inherit;
        font-size: 16;
        font-weight: 500;
    line-height: 1.5;
    letter-spacing: 4%;
        color: var(--color-iris);
        background-color: var(--color-cornflower);
    }

.button-filter:hover,
.button-filter:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
}